<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/pulic/css/style.css">
    <title>edit</title>
</head>
<body>
    <div class="topnav">
        <a class="active" href="/home">Home</a>
        <a href="/list">News</a>
      
      </div>
      <%= JSON.stringify(userEdit) %>
      <form action="/update" method="post">
        <fieldset>
          <legend>Update </legend>
          <label for="fname">id :</label>
          <input type="text" id="fname" name="idu" value="<%= userEdit.id %>"><br><br>
          <label for="fname">Name :</label>
          <input type="text" id="fname" name="fname" value="<%= userEdit.name %>"><br><br>
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" value="<%= userEdit.email %>"><br><br>
          <label for="birthday">City:</label>
          <input type="text" id="birthday" name="city" value="<%= userEdit.city %>"><br><br>
          <input type="submit" value="Submit">
        </fieldset>
      </form>
</body>
</html>